@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --dark : #141737;
  --google-gray : #A5B4CB;
  --gray-bg : #DCEAFF;
  --grey : #E9EEF4;
}

.txt{
  opacity: 0.7;
}


@media (max-width: 730px) {
  .social, .business {
    display: none !important;
  }
}



